/* .oi{
    color:#FFFFFF;
} */


.navbar{font-size: 1.3em;  padding-left: 3em;padding-right: 3em;}
.nav-item::after{content:'';display:block;width:0px;height:3px;background:#c26b70;transition: 0.3s;}
.nav-item:hover::after{width:100%;}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{color: #c26b70;}

.navbar-light .navbar-nav .nav-item {
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.nav-link{padding:8px; transition:0.3s;}
.dropdown-item.active, .dropdown-item:active{color: #c26b70;}
.dropdown-item:focus, .dropdown-item:hover{background: #c26b70;}


body{
    /* background-color: #efffff;  */
    background: #e8ebed;
    /* fallback for old browsers */ 
    background: -webkit-linear-gradient(to left, #e8ebed, #e8ebed, #e8ebed);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #e8ebed , #e8ebed, #e8ebed);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#btnScroll{  /*回到顶部按钮*/
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 999;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px; 
}


/* Footer */
section {
    margin-top: 50px;
    padding: 20px 0 5px 0;
}

.fixed-bottom {position: fixed;bottom: 0;width:100%;}

section .section-title {
    text-align: center;
    color: #222524;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #222524 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.quick-links li a{
	color:#ffffff;
}

#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}